@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "DigitalNumbers";
  src: url("/libs/font/fonts/DigitalNumbers400.eot");
  /* IE9 Compat Modes */
  src: url("/libs/font/fonts//DigitalNumbers400.eot?#iefix") format("embedded-opentype");
  src: url("/libs/font/fonts//DigitalNumbers400.woff") format("woff");
  src: url("/libs/font/fonts//DigitalNumbers400.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

#header-catalog {
  min-height: auto;
  background: #000;
}

.main-header {
  min-height: 755px;
  height: 100%;
  background: url("/img/bg-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.main-header .nav-composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 150px;
  padding: 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .nav-composition .logo-wrapper {
  width: 130px;
  position: relative;
}

.main-header .nav-composition .logo-wrapper img {
  width: 100%;
}

.main-header .nav-composition .main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.main-header .nav-composition .main-nav ul li {
  display: inline-block;
}

.main-header .nav-composition .main-nav ul li .link-nav {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  margin-right: 30px;
  font-size: 18px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.main-header .nav-composition .main-nav ul li .link-nav:hover {
  color: #FF5923;
}

.main-header .nav-composition .main-nav ul li .link-cart {
  top: 8px;
  border: 2px solid #FF5923;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 51px;
  height: 51px;
  padding: 8px 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.main-header .nav-composition .main-nav ul li .link-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-header .text-composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 150px;
  position: relative;
  top: 50px;
  width: 500px;
}

.main-header .text-composition .h1 {
  font-size: 64px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #ffffff;
  position: relative;
}

.main-header .text-composition .h1 span {
  color: #FF5923;
}

.main-header .text-composition .h1::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 60px;
  height: 5px;
  background: #FF5923;
  display: inline-block;
}

.main-header .text-composition p {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 35px;
}

.main-header .text-composition a {
  display: inline-block;
  background-color: #FF5923;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 12px;
  height: 32px;
  width: 150px;
  text-align: center;
}

.main-header .scroll-wrapper {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

.top-line {
  position: relative;
  text-align: center;
}

.top-line .h1 {
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
}

section, footer {
  padding: 50px 0;
  position: relative;
  overflow-x: hidden;
  background-color: #000;
}

.composition-main-content {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.composition-main-content .first-text-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.composition-main-content .first-text-main p {
  color: #FF5923;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat';
  font-style: normal;
}

.composition-main-content .second-text-main {
  padding-top: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.composition-main-content .second-text-main p {
  color: #FF5923;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat';
  font-style: normal;
}

.s-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-clock .name-wrapper-clock {
  font-size: 36px;
  color: #FF5923;
  font-weight: 500;
  font-family: 'Montserrat';
}

.s-clock .image-text-wrapper-clock p {
  font-family: 'DigitalNumbers';
  display: inline-block;
  margin-right: 15px;
}

.s-clock .image-text-wrapper-clock .price-discount-clock {
  color: #989898;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 24px;
}

.s-clock .image-text-wrapper-clock .discount-value {
  color: #FF5923;
  font-size: 32px;
}

.s-clock .image-text-wrapper-clock img {
  display: inline-block;
}

.s-review {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#E81700), to(#571500));
  background: linear-gradient(90deg, #E81700 0%, #571500 100%);
}

.slider-wrapper {
  color: #ffffff;
  text-align: center;
}

.slider-wrapper .h1 {
  font-family: 'Montserrat';
  font-size: 42px;
}

.slider-wrapper .review-wrapper {
  width: 500px;
  display: inline-block;
}

.slider-wrapper .review-wrapper p {
  font-family: 'Montserrat';
}

.slider-wrapper .review-wrapper .text-review {
  font-size: 20px;
}

.slider-wrapper .review-wrapper .position-review {
  font-size: 12px;
}

.slider-wrapper .review-wrapper .name-user-review {
  color: #FF5923;
  font-size: 18px;
  font-family: 'Montserrat';
}

.slider-wrapper a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  top: 25px;
  background: #FF5923;
  border-radius: 5px;
  padding: 10px 25px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider-wrapper a:hover {
  background-color: rgba(255, 89, 35, 0.7);
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-footer .logo-footer {
  width: 350px;
  height: 45px;
}

.content-footer .logo-footer img {
  width: 100%;
}

.content-footer .nav-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-footer .nav-footer ul li {
  display: inline-block;
  margin-right: 45px;
}

.content-footer .nav-footer ul li a {
  font-size: 24px;
  font-family: 'Montserrat';
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.content-footer .nav-footer ul li a:hover {
  color: #FF5923;
}

.xs-nav-menu {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  display: none;
  background-color: #000;
}

.xs-nav-menu ul {
  list-style-type: none;
}

.xs-nav-menu ul li {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.xs-nav-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.xs-nav-menu-active {
  position: fixed;
  right: 0;
  display: block;
  z-index: 999;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

.xs-nav-menu-active ul {
  list-style-type: none;
}

.xs-nav-menu-active ul li {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.xs-nav-menu-active ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.add-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-review .label-wrapper-review {
  text-align: center;
}

.add-review .label-wrapper-review label {
  font-family: 'Montserrat';
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.add-review .label-wrapper-review input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FF5923;
  display: inline-block;
  margin-bottom: 15px;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0 10px;
}

.add-review button {
  font-size: 18px;
  font-family: 'Montserrat';
  color: #ffffff;
  background-color: #FF5923;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-form {
  font-family: 'Montserrat';
  font-size: 18px;
  width: 50%;
  text-align: center;
  opacity: 0;
  display: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.message-form span {
  color: #ff5923;
}

.message-form-active {
  font-family: 'Montserrat';
  font-size: 18px;
  width: 50%;
  text-align: center;
  display: inline-block;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.message-form-active span {
  color: #ff5923;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

.s-main-xs {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.s-main-xs .h1 {
  font-family: 'Montserrat';
  font-size: 18px;
}

.s-main-xs .list-stile-xs-wrapper {
  display: inline-block;
  text-align: center;
  width: 550px;
  position: relative;
}

.s-main-xs .list-stile-xs-wrapper p {
  font-size: 14px;
  font-family: 'Montserrat';
  color: #FF5923;
  margin-bottom: 35px;
}

.s-main-xs .list-stile-xs-wrapper p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #FF5923;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  margin-right: 5px;
}

.s-main-xs .list-stile-xs-wrapper .p-left {
  position: relative;
  left: -5px;
}

.s-main-xs .list-stile-xs-wrapper .p-right {
  position: relative;
  right: -5px;
}

#left-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#left-reverse .image-product {
  width: 550px;
  height: 280px;
  border-bottom: 3px solid #FF5923;
  border-left: 3px solid #FF5923;
  border-right: 0;
}

#left-reverse .text-item-wrapper {
  padding-left: 0px;
  padding-right: 30px;
}

.product-wrapper {
  margin: 0 150px;
}

.item-wrapper-product {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 100px;
}

.item-wrapper-product .image-product {
  width: 550px;
  height: 320px;
  overflow: hidden;
  border-bottom: 3px solid #FF5923;
  border-right: 3px solid #FF5923;
}

.item-wrapper-product .image-product img {
  width: 100%;
}

.item-wrapper-product .text-item-wrapper {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-wrapper-product .text-item-wrapper .name-wrapper .h1 {
  font-family: 'Montserrat';
  font-style: 500;
  font-size: 48px;
  color: #FF5923;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.item-wrapper-product .text-item-wrapper .description-wrapper-item {
  padding: 10px 0;
  width: 600px;
  position: relative;
  margin-bottom: 15px;
}

.item-wrapper-product .text-item-wrapper .description-wrapper-item p {
  font-family: 'Montserrat';
  font-size: 16px;
}

.item-wrapper-product .text-item-wrapper .description-wrapper-item::after {
  content: '';
  position: absolute;
  background-color: #FF5923;
  width: 40%;
  height: 3px;
  display: inline-block;
  bottom: 0;
  left: 0;
}

.item-wrapper-product .text-item-wrapper .last-line-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-wrapper-product .text-item-wrapper .last-line-product .discount-price-full {
  font-family: 'DigitalNumbers';
  font-size: 24px;
  color: #8C8C8C;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin: 0;
}

.item-wrapper-product .text-item-wrapper .last-line-product .discount-price-item {
  font-family: 'DigitalNumbers';
  font-size: 32px;
  color: #FF5923;
  margin: 0;
}

.item-wrapper-product .text-item-wrapper .last-line-product .price-full {
  font-family: 'DigitalNumbers';
  font-size: 32px;
  color: #FF5923;
  margin: 0;
}

.item-wrapper-product .text-item-wrapper .last-line-product .buy-link {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 35px;
  color: #ffffff;
  text-decoration: none;
  background-color: #FF5923;
  border-radius: 5px;
}

.hidden-form-buy .product-composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #ff5923;
  border-bottom: 2px solid #ff5923;
  margin-bottom: 15px;
}

.hidden-form-buy .product-composition .image-wrapper-buy {
  width: 150px;
  height: 150px;
}

.hidden-form-buy .product-composition .image-wrapper-buy img {
  width: 100%;
}

.hidden-form-buy .product-composition .text-wrapper-buy h3 {
  font-size: 22px;
  color: #FF5923;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.hidden-form-buy .label-wrapper-buy {
  margin-bottom: 15px;
}

.hidden-form-buy .label-wrapper-buy label {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-family: 'Montserrat';
}

.hidden-form-buy .label-wrapper-buy input {
  display: inline-block;
  border: none;
  width: 30px;
  border-radius: 25px;
  height: 18px;
  font-size: 18px;
  font-weight: 700;
  padding: 2px 5px;
  text-align: center;
  font-family: 'Montserrat';
  outline: none;
}

.hidden-form-buy button {
  font-size: 18px;
  font-family: 'Montserrat';
  color: #ffffff;
  background-color: #FF5923;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.hidden-form-buy .remove-buy-form {
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat';
  color: #ffffff;
  background-color: #E81700;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hidden-art {
  width: 100%;
}

.hidden-art img {
  width: 100%;
}

.order-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.order-main .content-form-order {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  padding: 35px 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-main .content-form-order .top-line-form-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  border: 1px solid #ffffff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  margin-bottom: 50px;
}

.order-main .content-form-order .top-line-form-order img {
  width: 80px;
  height: 40px;
}

.order-main .content-form-order .line-form-order {
  width: 60%;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
}

.order-main .content-form-order .line-form-order .h1 {
  font-family: 'Montserrat';
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
}

.order-main .content-form-order .line-form-order .h1::after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  display: inline-block;
  width: 45%;
  height: 1px;
  top: 50%;
  left: 0;
}

.order-main .content-form-order .line-form-order .h1::before {
  content: '';
  position: absolute;
  background-color: #ffffff;
  display: inline-block;
  width: 45%;
  height: 1px;
  top: 50%;
  right: 0;
}

.order-main .content-form-order .form-order-wrapper {
  text-align: center;
}

.order-main .content-form-order .form-order-wrapper .top-line-in-form .h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-family: 'Montserrat';
}

.order-main .content-form-order .form-order-wrapper input {
  display: inline-block;
  width: 60%;
  border: 1px solid #ff5923;
  height: 48px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat';
  padding: 0 15px;
}

.order-main .content-form-order .form-order-wrapper input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
}

.order-main .content-form-order .form-order-wrapper input:-ms-input-placeholder {
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
}

.order-main .content-form-order .form-order-wrapper input::-ms-input-placeholder {
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
}

.order-main .content-form-order .form-order-wrapper input::placeholder {
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
}

.order-main .content-form-order .form-order-wrapper .postal-small {
  width: 30%;
}

.order-main .content-form-order .form-order-wrapper select {
  display: inline-block;
  width: 30%;
  border: 1px solid #ff5923;
  height: 48px;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat';
  padding: 0 15px;
}

.order-main .content-form-order .form-order-wrapper select option {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat';
}

.order-main .content-form-order .form-order-wrapper select option:hover {
  background-color: #ff5923;
}

.order-main .content-form-order .form-order-wrapper .button-wrapper-order {
  width: 60%;
  text-align: right;
  display: inline-block;
}

.order-main .content-form-order .form-order-wrapper .button-wrapper-order button {
  background: #4857DF;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
}

.order-main .content-product-order {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171717;
  position: relative;
}

.order-main .content-product-order .item-order-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-main .content-product-order .item-order-wrapper .image-compos-order {
  width: 320px;
}

.order-main .content-product-order .item-order-wrapper .image-compos-order img {
  width: 100%;
}

.order-main .content-product-order .item-order-wrapper .text-order-item {
  color: #ffffff;
  padding: 0 15px;
}

.order-main .content-product-order .item-order-wrapper .text-order-item .h1-oreder-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
}

.order-main .content-product-order .item-order-wrapper .text-order-item .qnt-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.order-main .content-product-order .item-order-wrapper .text-order-item .price-discount-item-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-main .content-product-order .item-order-wrapper .text-order-item .price-discount-item-order .price-order-item {
  font-family: 'DigitalNumbers';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8C8C8C;
  margin-right: 15px;
}

.order-main .content-product-order .item-order-wrapper .text-order-item .price-discount-item-order .discount-order-item {
  font-family: 'DigitalNumbers';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FF5923;
}

.order-main .content-product-order .price-wrapper-order {
  text-align: center;
}

.order-main .content-product-order .price-wrapper-order .price-composition {
  display: inline-block;
  width: 50%;
}

.order-main .content-product-order .price-wrapper-order .price-composition div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-main .content-product-order .price-wrapper-order .price-composition div p {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
}

.order-main .content-product-order .price-wrapper-order .price-composition .sale-remove-order {
  border-bottom: 1px solid #fff;
}

.message-ok {
  text-align: center;
}

.message-ok p {
  font-size: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  color: #ffffff;
}

.message-ok p span {
  color: #FF5923;
}

@media (max-width: 1280px) {
  .item-wrapper-product .text-item-wrapper .description-wrapper-item {
    width: 250px;
  }
  .item-wrapper-product .text-item-wrapper .last-line-product .discount-price-full {
    font-size: 18px;
  }
}

@media (max-width: 820px) {
  .link-xs-nav {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .nav-footer {
    display: none;
  }
  #left-reverse .image-product {
    width: 330px;
    height: 220px;
    border: none;
  }
  .product-wrapper {
    margin: 0 70px;
  }
  .item-wrapper-product .image-product {
    width: 330px;
    height: 220px;
    border: none;
  }
  .item-wrapper-product .text-item-wrapper .name-wrapper .h1 {
    font-size: 22px;
  }
  .item-wrapper-product .description-wrapper-item p {
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .s-clock {
    padding: 0 25px;
  }
  .s-clock .name-wrapper-clock {
    font-size: 28px;
    width: 250px;
  }
  .s-clock .image-text-wrapper-clock .price-discount-clock {
    font-size: 24px;
  }
  .s-clock .image-text-wrapper-clock .discount-value {
    font-size: 24px;
  }
  .s-clock .image-text-wrapper-clock img {
    width: 60%;
  }
  .content-footer .logo-footer {
    width: 300px;
  }
  .content-footer .nav-footer ul li {
    margin-right: 14px;
  }
  .content-footer .nav-footer ul li a {
    font-size: 18px;
  }
  .composition-main-content .first-text-main p {
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  .product-wrapper {
    margin: 0 5px;
  }
  .main-header .nav-composition {
    margin: 0 34px;
  }
  .s-main {
    display: none;
  }
  .s-main-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s-clock {
    display: block;
    text-align: center;
    padding: 0 15px;
  }
  .s-clock .name-wrapper-clock {
    font-size: 18px;
    width: 355px;
  }
  .s-clock .image-text-wrapper-clock .price-discount-clock {
    font-size: 14px;
  }
  .s-clock .image-text-wrapper-clock .discount-value {
    font-size: 14px;
  }
  .s-clock .image-text-wrapper-clock img {
    width: 100%;
  }
  .slider-wrapper .review-wrapper {
    width: 380px;
  }
  .main-header {
    overflow: hidden;
  }
  .main-header .text-composition {
    margin: 0 25px;
  }
  .main-header .text-composition .h1 {
    font-size: 24px;
  }
  .main-header .text-composition p {
    font-size: 16px;
    width: 250px;
  }
  .item-wrapper-product .text-item-wrapper {
    padding-left: 10px;
  }
  .item-wrapper-product .text-item-wrapper .last-line-product .buy-link {
    padding: 5px 20px;
  }
  .item-wrapper-product .text-item-wrapper .last-line-product .price-full {
    font-size: 12px;
  }
  .product-wrapper {
    width: 100%;
  }
  .item-wrapper-product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-wrapper-product .image-product {
    width: 70%;
  }
  .item-wrapper-product .text-item-wrapper {
    width: 70%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .item-wrapper-product .text-item-wrapper {
    width: 90%;
  }
  .item-wrapper-product .text-item-wrapper .description-wrapper-item {
    width: 100%;
  }
}

@media (min-width: 821px) {
  .link-xs-nav {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */