@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "DigitalNumbers";
  src: url("/libs/font/fonts/DigitalNumbers400.eot");
  /* IE9 Compat Modes */
  src: url("/libs/font/fonts//DigitalNumbers400.eot?#iefix") format("embedded-opentype");
  src: url("/libs/font/fonts//DigitalNumbers400.woff") format("woff");
  src: url("/libs/font/fonts//DigitalNumbers400.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-header {
  min-height: 755px;
  height: 100%;
  background: url("/img/bg-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.main-header .nav-composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 150px;
  padding: 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .nav-composition .logo-wrapper {
  width: 130px;
  position: relative;
}

.main-header .nav-composition .logo-wrapper img {
  width: 100%;
}

.main-header .nav-composition .main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.main-header .nav-composition .main-nav ul li {
  display: inline-block;
}

.main-header .nav-composition .main-nav ul li .link-nav {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  margin-right: 30px;
  font-size: 18px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.main-header .nav-composition .main-nav ul li .link-nav:hover {
  color: #FF5923;
}

.main-header .nav-composition .main-nav ul li .link-cart {
  top: 8px;
  border: 2px solid #FF5923;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 51px;
  height: 51px;
  padding: 8px 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.main-header .nav-composition .main-nav ul li .link-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-header .text-composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 150px;
  position: relative;
  top: 50px;
  width: 500px;
}

.main-header .text-composition .h1 {
  font-size: 64px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #ffffff;
  position: relative;
}

.main-header .text-composition .h1 span {
  color: #FF5923;
}

.main-header .text-composition .h1::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 60px;
  height: 5px;
  background: #FF5923;
  display: inline-block;
}

.main-header .text-composition p {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  color: #ffffff;
  margin-bottom: 35px;
}

.main-header .text-composition a {
  display: inline-block;
  background-color: #FF5923;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 12px;
  height: 32px;
  width: 150px;
  text-align: center;
}

.main-header .scroll-wrapper {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

.top-line {
  position: relative;
  text-align: center;
}

.top-line .h1 {
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
}

section, footer {
  padding: 50px 0;
  position: relative;
  overflow-x: hidden;
  background-color: #000;
}

.composition-main-content {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.composition-main-content .first-text-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.composition-main-content .first-text-main p {
  color: #FF5923;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat';
  font-style: normal;
}

.composition-main-content .second-text-main {
  padding-top: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.composition-main-content .second-text-main p {
  color: #FF5923;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat';
  font-style: normal;
}

.s-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-clock .name-wrapper-clock {
  font-size: 36px;
  color: #FF5923;
  font-weight: 500;
  font-family: 'Montserrat';
}

.s-clock .image-text-wrapper-clock p {
  font-family: 'DigitalNumbers';
  display: inline-block;
  margin-right: 15px;
}

.s-clock .image-text-wrapper-clock .price-discount-clock {
  color: #989898;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 24px;
}

.s-clock .image-text-wrapper-clock .discount-value {
  color: #FF5923;
  font-size: 32px;
}

.s-clock .image-text-wrapper-clock img {
  display: inline-block;
}

.s-review {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#E81700), to(#571500));
  background: linear-gradient(90deg, #E81700 0%, #571500 100%);
}

.slider-wrapper {
  color: #ffffff;
  text-align: center;
}

.slider-wrapper .h1 {
  font-family: 'Montserrat';
  font-size: 42px;
}

.slider-wrapper .review-wrapper {
  width: 500px;
  display: inline-block;
}

.slider-wrapper .review-wrapper p {
  font-family: 'Montserrat';
}

.slider-wrapper .review-wrapper .text-review {
  font-size: 20px;
}

.slider-wrapper .review-wrapper .position-review {
  font-size: 12px;
}

.slider-wrapper .review-wrapper .name-user-review {
  color: #FF5923;
  font-size: 18px;
  font-family: 'Montserrat';
}

.slider-wrapper a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  top: 25px;
  background: #FF5923;
  border-radius: 5px;
  padding: 10px 25px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.slider-wrapper a:hover {
  background-color: rgba(255, 89, 35, 0.7);
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-footer .logo-footer {
  width: 350px;
  height: 45px;
}

.content-footer .logo-footer img {
  width: 100%;
}

.content-footer .nav-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-footer .nav-footer ul li {
  display: inline-block;
  margin-right: 45px;
}

.content-footer .nav-footer ul li a {
  font-size: 24px;
  font-family: 'Montserrat';
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.content-footer .nav-footer ul li a:hover {
  color: #FF5923;
}

.xs-nav-menu {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  display: none;
  background-color: #000;
}

.xs-nav-menu ul {
  list-style-type: none;
}

.xs-nav-menu ul li {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.xs-nav-menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.xs-nav-menu-active {
  position: fixed;
  right: 0;
  display: block;
  z-index: 999;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

.xs-nav-menu-active ul {
  list-style-type: none;
}

.xs-nav-menu-active ul li {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.xs-nav-menu-active ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

.add-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-review .label-wrapper-review {
  text-align: center;
}

.add-review .label-wrapper-review label {
  font-family: 'Montserrat';
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.add-review .label-wrapper-review input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FF5923;
  display: inline-block;
  margin-bottom: 15px;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0 10px;
}

.add-review button {
  font-size: 18px;
  font-family: 'Montserrat';
  color: #ffffff;
  background-color: #FF5923;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-form {
  font-family: 'Montserrat';
  font-size: 18px;
  width: 50%;
  text-align: center;
  opacity: 0;
  display: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.message-form span {
  color: #ff5923;
}

.message-form-active {
  font-family: 'Montserrat';
  font-size: 18px;
  width: 50%;
  text-align: center;
  display: inline-block;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.message-form-active span {
  color: #ff5923;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

.s-main-xs {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.s-main-xs .h1 {
  font-family: 'Montserrat';
  font-size: 18px;
}

.s-main-xs .list-stile-xs-wrapper {
  display: inline-block;
  text-align: center;
  width: 550px;
  position: relative;
}

.s-main-xs .list-stile-xs-wrapper p {
  font-size: 14px;
  font-family: 'Montserrat';
  color: #FF5923;
  margin-bottom: 35px;
}

.s-main-xs .list-stile-xs-wrapper p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #FF5923;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  margin-right: 5px;
}

.s-main-xs .list-stile-xs-wrapper .p-left {
  position: relative;
  left: -5px;
}

.s-main-xs .list-stile-xs-wrapper .p-right {
  position: relative;
  right: -5px;
}

@media (max-width: 820px) {
  .link-xs-nav {
    display: block;
  }
  .main-nav {
    display: none;
  }
  .nav-footer {
    display: none;
  }
}

@media (max-width: 770px) {
  .s-clock {
    padding: 0 25px;
  }
  .s-clock .name-wrapper-clock {
    font-size: 28px;
    width: 250px;
  }
  .s-clock .image-text-wrapper-clock .price-discount-clock {
    font-size: 24px;
  }
  .s-clock .image-text-wrapper-clock .discount-value {
    font-size: 24px;
  }
  .s-clock .image-text-wrapper-clock img {
    width: 60%;
  }
  .content-footer .logo-footer {
    width: 300px;
  }
  .content-footer .nav-footer ul li {
    margin-right: 14px;
  }
  .content-footer .nav-footer ul li a {
    font-size: 18px;
  }
  .composition-main-content .first-text-main p {
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  .main-header .nav-composition {
    margin: 0 34px;
  }
  .s-main {
    display: none;
  }
  .s-main-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .s-clock {
    display: block;
    text-align: center;
    padding: 0 15px;
  }
  .s-clock .name-wrapper-clock {
    font-size: 18px;
    width: 355px;
  }
  .s-clock .image-text-wrapper-clock .price-discount-clock {
    font-size: 14px;
  }
  .s-clock .image-text-wrapper-clock .discount-value {
    font-size: 14px;
  }
  .s-clock .image-text-wrapper-clock img {
    width: 100%;
  }
  .slider-wrapper .review-wrapper {
    width: 380px;
  }
  .main-header {
    overflow: hidden;
  }
  .main-header .text-composition {
    margin: 0 25px;
  }
  .main-header .text-composition .h1 {
    font-size: 24px;
  }
  .main-header .text-composition p {
    font-size: 16px;
    width: 250px;
  }
}

@media (min-width: 821px) {
  .link-xs-nav {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */