@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
@font-face 
    font-family: "DigitalNumbers";
    src: url("/libs/font/fonts/DigitalNumbers400.eot"); /* IE9 Compat Modes */
    src: url("/libs/font/fonts//DigitalNumbers400.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    src: url("/libs/font/fonts//DigitalNumbers400.woff") format("woff"), /* Modern Browsers */
    src: url("/libs/font/fonts//DigitalNumbers400.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;

body 
    position: relative
    margin: 0
    padding: 0
    
    
    
.main-header
    min-height: 755px
    height: 100%
    background: url('/img/bg-1.png')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
    //overflow: hidden
    .nav-composition
        display: flex
        margin: 0 150px
        padding: 25px 0
        justify-content: space-between
        .logo-wrapper
            width: 130px
            position: relative
            img
                width: 100%
        .main-nav
            ul
                list-style-type: none
                margin: 0
                padding: 0
                display: inline-block
                li
                    display: inline-block
                    .link-nav
                        text-decoration: none
                        color: #ffffff
                        font-family: 'Montserrat'
                        font-style: normal
                        font-weight: normal
                        margin-right: 30px
                        font-size: 18px
                        transition: .5s ease
                        &:hover
                            color: #FF5923
                    .link-cart
                        top: 8px
                        border: 2px solid #FF5923
                        border-radius: 50%
                        box-sizing: border-box
                        display: inline-block
                        position: relative
                        width: 51px
                        height: 51px
                        padding: 8px 10px
                        transition: .5s ease
                        &:hover
                            transform: scale(1.1)
    .text-composition
        display: flex
        flex-direction: column
        margin: 0 150px
        position: relative
        top: 50px
        width: 500px
        .h1
            font-size: 64px
            font-family: 'Montserrat'
            font-weight: 600
            span
                color: #FF5923
            color: #ffffff
            position: relative
            &::after
                content: ''
                position: absolute
                bottom: -30px
                left: 0
                width: 60px
                height: 5px
                background: #FF5923
                display: inline-block
        p
            font-family: 'Montserrat'
            font-weight: 600
            font-size: 24px
            font-style: normal
            color: #ffffff
            margin-bottom: 35px
        a
            display: inline-block
            background-color: #FF5923
            color: #ffffff
            text-decoration: none
            border-radius: 5px
            padding-top: 12px
            height: 32px
            width: 150px
            text-align: center
    .scroll-wrapper
        position: absolute
        bottom: 15px
        left: 0
        width: 100%
        text-align: center
.top-line
    position: relative
    text-align: center
    
    .h1
        font-family: 'Montserrat'
        color: #ffffff
        font-weight: 500
        font-size: 48px
section, footer
    padding: 50px 0
    position: relative
    overflow-x: hidden
    background-color: #000
    
.composition-main-content
    color: #ffffff
    display: flex
    flex-direction: column
    align-items: center
    .first-text-main
        width: 100%
        display: flex
        justify-content: space-around
        p
            color: #FF5923
            font-size: 18px
            font-weight: 500
            font-family: 'Montserrat'
            font-style: normal
    .second-text-main
        padding-top: 45px
        width: 100%
        display: flex
        justify-content: space-around
        p
            color: #FF5923
            font-size: 18px
            font-weight: 500
            font-family: 'Montserrat'
            font-style: normal
.s-clock
    display: flex
    color: #ffffff
    flex-direction: row
    justify-content: space-around
    .name-wrapper-clock
        font-size: 36px
        color: #FF5923
        font-weight: 500
        font-family: 'Montserrat'
    .image-text-wrapper-clock

        p
            font-family: 'DigitalNumbers'
            display: inline-block
            margin-right: 15px
        .price-discount-clock
            color: #989898
            text-decoration-line: line-through;
            font-size: 24px
        .discount-value
            color: #FF5923
            font-size: 32px

        img
            display: inline-block

.s-review
    position: relative
    background: linear-gradient(90deg, #E81700 0%, #571500 100%);
.slider-wrapper
    color: #ffffff
    text-align: center
    .h1
        font-family: 'Montserrat'
        font-size: 42px
    .review-wrapper
        width: 500px
        display: inline-block
        
        p
            font-family: 'Montserrat'
        .text-review
            font-size: 20px
        .position-review
            font-size: 12px
        .name-user-review
            color: #FF5923
            font-size: 18px
            font-family: 'Montserrat'
        
    a
        text-decoration: none
        color: #ffffff
        display: inline-block
        position: relative
        top: 25px
        background: #FF5923
        border-radius: 5px
        padding: 10px 25px
        transition: .5s ease
        &:hover
            background-color: rgba(#FF5923, .7)
.content-footer
    display: flex
    justify-content: space-around
    
    .logo-footer
        width: 350px
        height: 45px
        img
            width: 100%
    .nav-footer
        ul
            list-style-type: none
            margin: 0
            padding: 0
            li
                display: inline-block
                margin-right: 45px
                a
                    font-size: 24px
                    font-family: 'Montserrat'
                    color: #ffffff
                    text-decoration: none
                    transition: .5s ease
                    &:hover
                        color: #FF5923
                    
.xs-nav-menu
    position: fixed
    right: -250px
    top: 0
    width: 250px
    height: 100%
    display: none
    background-color: #000
    ul
        list-style-type: none
        li
            display: inline-block
            margin-bottom: 15px
            border-bottom: 2px solid #fff
            a
                text-decoration: none
                color: #ffffff
                font-size: 24px
.xs-nav-menu-active
    position: fixed
    right: 0
    display: block
    z-index: 999
    top: 0
    width: 250px
    height: 100%
    background-color: #000
    opacity: 0;
    ul
        list-style-type: none
        li
            display: inline-block
            margin-bottom: 15px
            border-bottom: 2px solid #fff
            a
                text-decoration: none
                color: #ffffff
                font-size: 24px

.add-review
    display: flex
    flex-direction: column
    align-items: center
    .label-wrapper-review
        text-align: center
        label
            font-family: 'Montserrat'
            font-size: 18px
            display: inline-block
            margin-bottom: 15px
        input
            background-color: transparent
            border: none
            border-bottom: 2px solid #FF5923
            display: inline-block
            margin-bottom: 15px
            outline: none
            color: #ffffff
            font-size: 18px
            padding: 0 10px
    button
        font-size: 18px
        font-family: 'Montserrat'
        color: #ffffff
        background-color: #FF5923
        padding: 5px 15px
        border: none
        border-radius: 5px
        cursor: pointer
.message-form
    font-family: 'Montserrat'
    font-size: 18px
    width: 50%
    text-align: center
    opacity: 0
    display: none
    transition: .5s ease
    span
        color: #ff5923
.message-form-active
    font-family: 'Montserrat'
    font-size: 18px
    width: 50%
    text-align: center
    display: inline-block
    opacity: 1
    transition: .5s ease
    span
        color: #ff5923
.db
    display: block
.dn
    display: none
.dib
    display: inline-block

.s-main-xs
    display: none
    flex-direction: column
    align-items: center
    color: #ffffff
    .h1
        font-family: 'Montserrat'
        font-size: 18px
    .list-stile-xs-wrapper
        display: inline-block
        text-align: center
        width: 550px
        position: relative
        p
            font-size: 14px
            font-family: 'Montserrat'
            color: #FF5923
            margin-bottom: 35px
            span
                display: inline-block
                width: 10px
                height: 10px
                background: #FF5923;
                filter: blur(4px);
                margin-right: 5px
        .p-left
            position: relative
            left: -5px
        .p-right
            position: relative
            right: -5px


@media (max-width: 820px)
    .link-xs-nav 
        display: block
    .main-nav
        display: none
    .nav-footer
        display: none
    
@media (max-width: 770px)
    .s-clock
        padding: 0 25px 
        .name-wrapper-clock
            font-size: 28px
            width: 250px
        .image-text-wrapper-clock
            .price-discount-clock
                font-size: 24px
            .discount-value
                font-size: 24px 
            img
                width: 60%
    .content-footer
        .logo-footer
            width: 300px 
        .nav-footer 
            ul 
                li
                    margin-right: 14px 
                    a
                        font-size: 18px
    .composition-main-content 
        .first-text-main 
            p
                font-size: 15px
@media (max-width: 680px)
    .main-header 
        .nav-composition
            margin: 0 34px
    .s-main
        display: none
    .s-main-xs
        display: flex
    .s-clock
        display: block
        text-align: center
        padding: 0 15px 
        .name-wrapper-clock
            font-size: 18px
            width: 355px
        .image-text-wrapper-clock
            .price-discount-clock
                font-size: 14px
            .discount-value
                font-size: 14px 
            img
                width: 100%
    .slider-wrapper
        .review-wrapper
            width: 380px
    .main-header
        overflow: hidden
        .text-composition
            margin: 0 25px
            .h1
                font-size: 24px
            p
                font-size: 16px
                width: 250px
@media (min-width: 821px)
    .link-xs-nav 
        display: none